
<div id="container">

	<div id="lights">
		<br>
		
		<div class="wrap">
			<%=image_tag "cathedral.JPG",:id=> "profile-img"%>

			<% if current_admin%>
			<%= render :partial=> '/stats/form'%>
			<%else%>
			<div class="wrap">
				<div id='updates'>
					<h2 class="gold">About Me</h2>
					<p>Sed semper dictum auctor. Proin nisl augue, venenatis et nulla eget, suscipit gravida lacus. Duis at libero consequat, ultrices arcu vel, lacinia lorem. Nullam dapibus, nunc non placerat gravida, felis augue viverra neque, eu hendrerit eros erat a risus. Duis pretium congue enim. Phasellus in ullamcorper diam. Nulla facilisi. In ut quam consequat, fermentum ante eu, eleifend lectus. Integer porttitor, mi a tristique tincidunt, ipsum libero lacinia orci, sed sodales nibh dolor at dolor.</p>
				</div>
			</div>
			<%end%>
		</div>
	</div>

	<div class="wrap" id ="graph">
		<div id="stats-updates">
<!-- Seriously need to move this logic elsewhere -->
			<%caffeine=[]%>
			<%sleep=[]%>
			<%work = []%>
			<%day =[]%>
			<%fitness=[]%>
			<%@stats.each do |stat|%>
				<% caffeine << [stat.created_at.to_date,stat.mg_caffeine/100]%>
				<% sleep << [stat.created_at.to_date,stat.hours_slept]%>
				<% work << [stat.created_at.to_date,stat.hours_worked]%>
				<% day << [stat.created_at.to_date,stat.day_rating]%>
				<% fitness << [stat.created_at.to_date,stat.hours_fitness]%>

			<%end%>	
			<h3 class="gold">Activity Chart</h3>
			<%= line_chart [
				{:name=>"caffeine", :data=>caffeine},
				{:name=>"sleep",:data=>sleep},
				{:name=>"work",:data=>work},
				{:name=>"day",:data=>day},
				{:name=>"fitness",:data=>fitness}
			],library:{title:"Activity Tracker",backgroundColor:"black"} %>
		</div>

		
		
		
	</div>

</div>