
<div id="container">
	<h1 class="gold">About Me</h1>

	<div class="wrap">
		<%=image_tag "cathedral.JPG",:id=> "profile-img"%>
		<%= render :partial=> '/stats/form'%>
	</div>

	<div class="wrap" id ="graph">
		<div id="stats-updates">
<!-- Seriously need to move this logic elsewhere -->
			<%caffeine=[]%>
			<%sleep=[]%>
			<%work = []%>
			<%day =[]%>
			<%x_axis=[]%>
			<%@stats.each do |stat|%>
				<% caffeine << [stat.created_at.to_date,stat.mg_caffeine/100]%>
				<% sleep << [stat.created_at.to_date,stat.hours_slept]%>
				<% work << [stat.created_at.to_date,stat.hours_worked]%>
				<% day << [stat.created_at.to_date,stat.day_rating]%>

			<%end%>	
			<h3 class="gold">Activity Chart</h3>
			<%= line_chart [
				{:name=>"caffeine", :data=>caffeine},
				{:name=>"sleep",:data=>sleep},
				{:name=>"work",:data=>work},
				{:name=>"day",:data=>day}
			],library:{title:"Activity Tracker",backgroundColor:"black"} %>
		</div>

		
		
		
	</div>

</div>