<div id="container">
	<h1 class="gold">Welcome Jordan!</h1>

	<div class="wrap">
		<%=image_tag "cathedral.JPG",:id=> "profile-img"%>
		<%= render :partial=> '/stats/form'%>
	</div>

	<div class="wrap" id ="graph">
		<div id="stats-updates">
			<h1>Place graph of stats here</h1>
		</div>
		
	</div>

</div>