  
  <div class="wrap">
    <h2 class="sea-blue">Articles</h2>
    <br>
  <%if current_admin%>
    <%=link_to "Create Article", new_article_path%>
  <%end%>
  </div>
  <div></div>
  <div class="wrap">

    <table id="ajax-table">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <% if current_admin%>
        <th>Options</th>
        <%end%>
     
        <%=render partial: 'article_list', locals: {items: @articles[0..4]}%>

    </table>
    <table id="dates">
      
      <%(@times.length-1).times do |j|%>
        <% if @times[j].strftime('%^b %Y') != @times[j+1].strftime('%^b %Y')%>
        <tr><td>
          <%=link_to @times[j].strftime('%^b %Y'), fetch_articles_path(:time =>@times[j]), :remote=>true%></td></tr>
        <tr><td>
          <%=link_to @times[j+1].strftime('%^b %Y'), fetch_articles_path(:time =>@times[j+1]), :remote=>true%></td></tr>
        <%end%>
      <%end%>
    </table>
  </div>
  
  <br><br>



