<div id="container">
  <h2>Listing articles</h2>
  <div class="wrap">
    

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%=article.created_at%></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%=link_to "back", new_article_path%>
</div>
