
	<div class="city-img"></div>
		<h1>Photo Here</h1><hr>

		<div class="wrap">
		   
		    <div class="col"><h5 class="gold">Recent Photos<hr></h5>
		        <ul class="subtle">
		        	<% @photos.each do |photo|%>
		            <li><%=photo.title%></li>
		            <%end%>
		        </ul>
		    </div>
		    <div class="col"><h5 class="gold">Recent Posts<hr></h5>
		        <ul class="subtle">
		        	<%@articles.each do |article|%>
		            <li><%=article.title%></li>
		            <%end%>
		        </ul>
		    </div>
		    <div class="col">
		        <h5 class="gold">Recent Projects<hr></h5>
		      
		        <ul class="subtle">
		            <li>Bidwell Storage</li>
		            <li>Pismo Cottages</li>
		            <li>This Site</li>
		        </ul>
		    </div><br>
		    <div class="col"><h5 class="gold">Popular Tags<hr></h5>
		        <ul class="subtle">
		        	<% @articles.each do |article|%>
		            <li><%=article.tags%></li>
		            <%end%>
		        </ul>
		    </div>


		</div>
		<div class="wrap">          
		    
		</div>

		<br>
		<section>
		<h2>Header 2</h2>
		<hr>
		<div class="wrap">
		    <div class="col">
		        Pellentesque a erat arcu. Nunc adipiscing vulputate faucibus. Etiam et venenatis odio. Ut faucibus pellentesque leo nec sagittis. Fusce congue diam sem, et blandit nisl lobortis in. Nullam quis laoreet nisi. Vivamus ante metus, accumsan nec ipsum et, euismod accumsan purus. Aliquam eu eros posuere, fringilla orci at, luctus turpis. Ut mollis, ipsum sed fringilla semper, turpis magna egestas nisi, aliquam semper nunc magna lobortis risus. Morbi vel iaculis tortor. Sed urna neque, pretium sit amet malesuada sed, venenatis consequat ligula. Vivamus volutpat velit sed nulla imperdiet, in suscipit nisl ornare.
		    </div>

		</div>

		</section>

		<section>
		<h3 class="light-blue">This is a 3rd level header</h3>
		    <h3 class="gold">This is a 3rd level header</h3>
		    <h3 class="subtle">This is a 3rd level header</h3>
		    <h3 class="sea-blue">This is a 3rd level header</h3>
		<div class="wrap">
		    
		<p>
		Sed semper dictum auctor. Proin nisl augue, venenatis et nulla eget, suscipit gravida lacus. Duis at libero consequat, ultrices arcu vel, lacinia lorem. Nullam dapibus, nunc non placerat gravida, felis augue viverra neque, eu hendrerit eros erat a risus. Duis pretium congue enim. Phasellus in ullamcorper diam. Nulla facilisi. In ut quam consequat, fermentum ante eu, eleifend lectus. Integer porttitor, mi a tristique tincidunt, ipsum libero lacinia orci, sed sodales nibh dolor at dolor.
		</p></div>

		</section>

		<section>
		<h4>Header 4</h4>
		<hr>
		<div class="wrap">
		    
		 <p> 
		Sed semper dictum auctor. Proin nisl augue, venenatis et nulla eget, suscipit gravida lacus. Duis at libero consequat, ultrices arcu vel, lacinia lorem. Nullam dapibus, nunc non placerat gravida, felis augue viverra neque, eu hendrerit eros erat a risus. Duis pretium congue enim. Phasellus in ullamcorper diam. Nulla facilisi. In ut quam consequat, fermentum ante eu, eleifend lectus. Integer porttitor, mi a tristique tincidunt, ipsum libero lacinia orci, sed sodales nibh dolor at dolor.
		</p> 
		</div>

		</section>

		<section>
		<h5>Header 5</h5>
		<hr>
		<div class="wrap">
		    
		<p>
		Sed semper dictum auctor. Proin nisl augue, venenatis et nulla eget, suscipit gravida lacus. Duis at libero consequat, ultrices arcu vel, lacinia lorem. Nullam dapibus, nunc non placerat gravida, felis augue viverra neque, eu hendrerit eros erat a risus. Duis pretium congue enim. Phasellus in ullamcorper diam. Nulla facilisi. In ut quam consequat, fermentum ante eu, eleifend lectus. Integer porttitor, mi a tristique tincidunt, ipsum libero lacinia orci, sed sodales nibh dolor at dolor.
		</p></div>

		</section>

		<h2 class="sea-blue">About Me</h2><hr>
		<div class="wrap">
		    <div class="col">I am a guy in my mid 20s enjoying life in San Francisco. I love desgining websies and apps, tinkering with electronics, creating music, and art. I graduated with a BS in Mathematics and am now attending App Academy in SF.</div>
		</div>
		<div class="wrap">
		    <nav id="icon-list">
		    
		        <ul id="icon-menu">
		            <li><span data-icon="&#xe601" class="icon" id="github"></span></li>
		            <li><span data-icon="&#xe602" class="icon" id="linked-in"></span></li>
		            <li><span data-icon="&#xe603" class="icon" id="google"></span></li>
		            <li><span data-icon="&#xe60c" class="icon" id="mail"></span></li>
		        </ul>
		    </nav>

		</div><br><br>
		<h1 class="sea-blue">Words of Wisdom</h1>
		<div class="wrap">
			
		        <span class="quote"><q>I learned this, at least, by my experiment: that if one advances confidently in the direction of his dreams, and endeavors to live the life which he has imagined, he will meet with a success unexpected in common hours.</q>
		        <br><br>
		        --Henry David Thoreau</span>  
		       
		</div>
		<div id="loading" data-icon="&#xe606" class="icon"></div>

	</div>
            