<% if current_admin%>
	<%=link_to 'create new', photos_new_path %>
<%end%>
<br><br><Br>
<div class="photo-gallery">
	<%@photos.each do |photo| %>
		<%url = photo.file_data.url%>

		<img src = <%="#{url}"%>/>
	<%end%>
</div>